
ul {
    list-style-type: none;
    margin-left: auto;
    padding-left: 15px;
}

header {
    display: flex;
    font-size: 18px;
    align-content: center;
    justify-content: space-between;
    background-color: white;
    top: 0;
}

.logo {
    
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-display: 0px;
}