
.banner-area {
    /* Bakgrund */

    background-image: url(https://images.wallpaperscraft.com/image/single/neon_inscription_wall_134368_3840x2160.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-blend-mode: darken 5%;

    /* mått */
    min-height: 100vh;
  }
  
  }
  header {
    padding: 15 px 60px;
  }
  
  /* menyflik */
  
  .menu {
    width: 42%;
    float: right;
    list-style: none;
  }
  .menu li {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 21px;
    float: left;
  }
  
  .menu li:hover {
    background: yellow;
  }
  .menu li:hover a {
    color: #000;
  }
  
  .menu li a {
    text-decoration: none;
    font-family: anton;
    color: #fff;
    transition: 0.9s;
    text-transform: uppercase;
  }
  
  .logo {
    text-decoration: none;
    color: gold;
    font-size: 65px;
    font-family: staatliches;
    padding: 20px 25px;
    width: 20%;
    float: left;
  }

  /* Grid och innehåll */

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 300px;
  height: auto;
  object-fit: cover;
  object-position: center;
  padding: 5px;
}

img:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: 1s;
}

